body {
  background: black;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  outline: none;
}

button {
  border-radius: 5px;
  border: none;
}

canvas {
  background: rgba(209, 208, 208, .1);
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filters>button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 14px;
}

#openFile,
#square,
#circle,
#butt,
#clear {
  font-size: 35px;
}

button:hover {
  background-color: rgba(255, 255, 255, .7);
}

#insertImage {
  visibility: hidden;
}